<form #loginForm="ngForm" novalidate>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input 
          [(ngModel)]="conta.email" 
          type="email" 
          name="email" 
          #email="ngModel" 
          required
          email></ion-input>
      </ion-item>
      <div padding *ngIf="email.invalid && email.dirty">
        <span class="global__input-error">E-mail não é válido.</span>
      </div>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input 
          [(ngModel)]="conta.senha" 
          type="password" 
          name="senha" 
          #senha="ngModel" 
          required 
          pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$"></ion-input>
      </ion-item>
      <div padding *ngIf="senha.invalid && senha.dirty">
        <span class="global__input-error">A senha deve ter de 6 a 20 caracteres.</span>
      </div>
    </ion-card-content>
    <ion-row class="login-form__buttons">
      <div>
        <button ion-button color="secondary" (click)="navigateToRegistroPage()">Registro</button>
        <button ion-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
      </div>  
    </ion-row>
  </ion-card>
</form>
