<ng-template [ngIf]="feed.usuarioCompartilhou !== undefined">

    <ion-card class="compartilhamento" [ngClass]="{'alert-info': feed.usuarioCompartilhou.email === usuarioAutenticado.email}">

        <ng-template [ngIf]="feed.usuarioCompartilhou.email === usuarioAutenticado.email">
            <ion-item class="alert-info">
                <h2>Compartilhado por: mim</h2>
                <p center text-center>{{ dataCompartilhamentoDif }}</p>
            </ion-item>
        </ng-template>
        <ng-template [ngIf]="feed.usuarioCompartilhou.email !== usuarioAutenticado.email">
            <ion-item>
                <h2>Compartilhado por: {{ feed.usuarioCompartilhou.nome }}</h2>
                <!-- <p center text-center> em {{ feed.dataCompartilhamento | date: 'short' }}</p> -->
                <p center text-center>{{ dataCompartilhamentoDif }}</p>
            </ion-item>
        </ng-template>
        <ion-card [ngClass]="{'alert-info': feed.usuario.email === usuarioAutenticado.email}">

            <ng-template [ngIf]="feed.usuario.email === usuarioAutenticado.email">
                <ion-item class="alert-info">
                    <h2>Publicado por: mim</h2>
                    <!-- <p center text-center> em {{ feed.dataCriacao | date: 'short' }}</p> -->
                    <p center text-center>{{ dataCriacaoDif }}</p>
                </ion-item>
                <ng-template [ngIf]="feed.imagem !== undefined">
                    <img [src]="feed.imagem"/>
                </ng-template>
                <ion-card-header>
                    {{ feed.titulo }}
                </ion-card-header>
                <ion-card-content>
                    {{ feed.texto }}
                </ion-card-content>
            </ng-template>

            <ng-template [ngIf]="feed.usuario.email !== usuarioAutenticado.email">
                <ion-item>
                    <h2>Publicado por: {{ feed.usuario.nome }}</h2>
                    <!-- <p center text-center> em {{ feed.dataCriacao | date: 'short' }}</p> -->
                    <p center text-center>{{ dataCriacaoDif }}</p>
                </ion-item>
                <ng-template [ngIf]="feed.imagem !== undefined">
                    <img [src]="feed.imagem"/>
                </ng-template>
                <ion-card-header>
                    {{ feed.titulo }}
                </ion-card-header>
                <ion-card-content>
                    {{ feed.texto }}
                </ion-card-content>
            </ng-template>

            <ion-item [ngClass]="{'alert-info': feed.usuario.email === usuarioAutenticado.email}">
                <ng-template [ngIf]="feed.privado === true">
                    <ion-badge color="danger">PRIVADO</ion-badge>
                </ng-template>
                <ng-template [ngIf]="feed.privado === false">
                    <ion-badge color="success">PÚBLICO</ion-badge>
                </ng-template>
                <ng-template [ngIf]="feed.compartilhar === false">
                    <ion-badge color="danger">PROIBIDO COMPARTILHAR</ion-badge>
                </ng-template>
                <ng-template [ngIf]="feed.compartilhar === true">
                    <ng-template [ngIf]="feed.usuario.email === usuarioAutenticado.email">
                        <ion-badge color="success">PODE COMPARTILHAR</ion-badge>
                    </ng-template>
                    <ng-template [ngIf]="feed.usuario.email !== usuarioAutenticado.email">
                        <ion-badge color="success" style="cursor: pointer;" (click)="onCompartilhar(feed)">PODE COMPARTILHAR</ion-badge>
                    </ng-template>
                    <ng-template [ngIf]="dataUltimaAlteracaoDif !== ''"> 
                        <hr>                       
                        <div class="atualizado">Atualizado {{ dataUltimaAlteracaoDif }}</div>
                    </ng-template>
                </ng-template>
            </ion-item>

        </ion-card>

        <ion-item [ngClass]="{'alert-info': feed.usuarioCompartilhou.email === usuarioAutenticado.email}">
            <button [ngClass]="{'hide': feed.usuarioCompartilhou.email !== usuarioAutenticado.email}" float-right ion-button clear (click)="deleteFeed(feed.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-item>

    </ion-card>
</ng-template>

<ng-template [ngIf]="feed.usuarioCompartilhou === undefined">
    <ion-card [ngClass]="{'alert-info': feed.usuario.email === usuarioAutenticado.email}">

        <ng-template [ngIf]="feed.usuario.email === usuarioAutenticado.email">
            <ion-item class="alert-info">
                <h2>Publicado por: mim</h2>
                <!-- <p center text-center> em {{ feed.dataCriacao | date: 'short' }}</p> -->
                <p center text-center>{{ dataCriacaoDif }}</p>
            </ion-item>
            <ng-template [ngIf]="feed.imagem !== undefined">
                <img [src]="feed.imagem"/>
            </ng-template>
            <ion-card-header>
                {{ feed.titulo }}
            </ion-card-header>
            <ion-card-content>
                {{ feed.texto }}
            </ion-card-content>
        </ng-template>

        <ng-template [ngIf]="feed.usuario.email !== usuarioAutenticado.email">
            <ion-item>
                <h2>Publicado por: {{ feed.usuario.nome }}</h2>
                <!-- <p center text-center> em {{ feed.dataCriacao | date: 'short' }}</p> -->
                <p center text-center>{{ dataCriacaoDif }}</p>
            </ion-item>
            <ng-template [ngIf]="feed.imagem !== undefined">
                <img [src]="feed.imagem"/>
            </ng-template>
            <ion-card-header>
                {{ feed.titulo }}
            </ion-card-header>
            <ion-card-content>
                {{ feed.texto }}
            </ion-card-content>
        </ng-template>

        <ion-item [ngClass]="{'alert-info': feed.usuario.email === usuarioAutenticado.email}">
            <ng-template [ngIf]="feed.privado === true">
                <ion-badge color="danger">PRIVADO</ion-badge>
            </ng-template>
            <ng-template [ngIf]="feed.privado === false">
                <ion-badge color="success">PÚBLICO</ion-badge>
            </ng-template>
            <ng-template [ngIf]="feed.compartilhar === false">
                <ion-badge color="danger">PROIBIDO COMPARTILHAR</ion-badge>
            </ng-template>
            <ng-template [ngIf]="feed.compartilhar === true">
                <ng-template [ngIf]="feed.usuario.email === usuarioAutenticado.email">
                    <ion-badge color="success">PODE COMPARTILHAR</ion-badge>
                </ng-template>
                <ng-template [ngIf]="feed.usuario.email !== usuarioAutenticado.email">
                    <ion-badge color="success" style="cursor: pointer;" (click)="onCompartilhar(feed)">PODE COMPARTILHAR</ion-badge>
                </ng-template>
            </ng-template>
        </ion-item>

        <ion-item>
            <ng-template [ngIf]="dataUltimaAlteracaoDif !== ''">                        
                <span class="atualizado">Atualizado {{ dataUltimaAlteracaoDif }}</span>
            </ng-template>
            <button [ngClass]="{'hide': feed.usuario.email !== usuarioAutenticado.email}" float-right ion-button clear (click)="deleteFeed(feed.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button [ngClass]="{'hide': feed.usuario.email !== usuarioAutenticado.email}" float-right ion-button clear (click)="navigateToFeedEdit(feed.id)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-item>
        
    </ion-card>
</ng-template>
   
                        