.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-light {
    color: #111;
    background-color: #f8f9fa;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.alert-info {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}
.list-group-item-info {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
}
.compartilhamento {
    padding: 10px;
}
