<form #feedEditForm="ngForm" novalidate>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label floating>Título</ion-label>
                <ion-input 
                [(ngModel)]="feed.titulo" 
                type="text" 
                name="titulo" 
                #titulo="ngModel" 
                required></ion-input>
            </ion-item>
            <div padding *ngIf="titulo.invalid && titulo.dirty">
                <span class="global__input-error">Título não é válido.</span>
            </div>
            <ion-item>
                <ion-label floating>Descrição</ion-label>
                <ion-textarea 
                [(ngModel)]="feed.texto" 
                type="text" 
                name="texto" 
                #texto="ngModel"></ion-textarea>
            </ion-item>
            <div padding *ngIf="texto.invalid && texto.dirty">
                <span class="global__input-error">A descrição não é válida.</span>
            </div>
            <ion-item>
                <ion-label floating>URL da Imagem</ion-label>
                <ion-input 
                [(ngModel)]="feed.imagem" 
                type="text" 
                name="imagem" 
                #imagem="ngModel"></ion-input>
            </ion-item>
            <div padding *ngIf="imagem.invalid && imagem.dirty">
                <span class="global__input-error">URL da imagem não é válida.</span>
            </div>
            <img src={{imagem.value}}  *ngIf="this.feed.imagem">
            <div>
                <button float-right ion-button clear (click)="openGallery()">
                    <ion-icon name="photos"></ion-icon>
                </button>
                <button float-right ion-button clear (click)="openCamera()">
                    <ion-icon name="camera"></ion-icon>
                </button>
            </div>
            <ion-list>
                <ion-item>
                    <ion-label>Privado</ion-label>
                    <ion-checkbox name="privado" [(ngModel)]="feed.privado"></ion-checkbox>
                </ion-item>
            
                <ion-item>
                    <ion-label>Compartilhar</ion-label>
                    <ion-checkbox name="compartilhar" [(ngModel)]="feed.compartilhar"></ion-checkbox>
                </ion-item>
            
            </ion-list>
        </ion-card-content>
        <ion-row class="login-form__buttons">
        <div>
            <button ion-button color="secondary" (click)="onCancel()">Cancelar</button>
            <button ion-button (click)="onSubmit()" [disabled]="feedEditForm.invalid">Salvar</button>
        </div>  
        </ion-row>
    </ion-card>
</form>
