<ion-card>
    <ion-card-header>
        Sua lista de contatos
    </ion-card-header>
  
    <ion-list inset>
        <app-contato-item 
            *ngFor="let contatoEl of contatos" 
            [contato]="contatoEl">
        </app-contato-item>
    </ion-list>

</ion-card>

<!-- <h4>Sua lista de contatos:</h4>
<div class="row">
    <div clas="col-xs-12">
        <app-contato-item 
            *ngFor="let contatoEl of contatos" 
            [contato]="contatoEl">
        </app-contato-item>
    </div>
</div> -->